{{ define "main" }}
  <section class="section pt-7">
    <div class="container">
      <div class="row justify-center">
        <article class="lg:col-10">
          <h1 class="h2 mb-4">
            {{ .Title }}
          </h1>

          <div class="content mb-10">
            {{ .Content }}
          </div>

          <div id="tree">
            <div class="branch">
              <div class="entry"><span>Husband</span>
                <div class="branch">
                  <div class="entry"><span>Father</span>
                    <div class="branch">
                      <div class="entry"><span>Grandfather</span>
                        <div class="branch">
                          <div class="entry"><span>Great Grandfather</span></div>
                          <div class="entry"><span>Great Grandmother</span></div>
                        </div>
                      </div>
                      <div class="entry"><span>Grandmother</span>
                        <div class="branch">
                          <div class="entry"><span>Great Grandfather</span></div>
                          <div class="entry"><span>Great Grandmother</span></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="entry"><span>Mother</span>
                    <div class="branch">
                      <div class="entry"><span>Grandfather</span>
                        <div class="branch">
                          <div class="entry"><span>Great Grandfather</span></div>
                          <div class="entry"><span>Great Grandmother</span></div>
                        </div>
                      </div>
                      <div class="entry"><span>Grandmother</span>
                        <div class="branch">
                          <div class="entry"><span>Great Grandfather</span></div>
                          <div class="entry"><span>Great Grandmother</span></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="entry"><span>Wife</span>
                <div class="branch">
                  <div class="entry"><span>Father</span>
                    <div class="branch">
                      <div class="entry"><span>Grandfather</span>
                        <div class="branch">
                          <div class="entry"><span>Great Grandfather</span></div>
                          <div class="entry"><span>Great Grandmother</span></div>
                        </div>
                      </div>
                      <div class="entry"><span>Grandmother</span>
                        <div class="branch">
                          <div class="entry"><span>Great Grandfather</span></div>
                          <div class="entry"><span>Great Grandmother</span></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="entry"><span>Mother</span>
                    <div class="branch">
                      <div class="entry"><span>Grandfather</span>
                        <div class="branch">
                          <div class="entry"><span>Great Grandfather</span></div>
                          <div class="entry"><span>Great Grandmother</span></div>
                        </div>
                      </div>
                      <div class="entry"><span>Grandmother</span>
                        <div class="branch">
                          <div class="entry"><span>Great Grandfather</span></div>
                          <div class="entry"><span>Great Grandmother</span></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
  </section>

{{ end }}